<div class="modal" id="modalFeedback">
  <div class="modal-wrapper">
    <span class="close-button">&nbsp;</span>
    <div class="modal-header">
      <h3>Get in touch</h3>
      <p>Interested in working with us or simply curious? We’d love to hear from you!</p>
    </div>
    <div class="modal-content">
      <form class="main-form" action="#">
        <div class="field  error-block">
          <div class="floating-label">
            <input class="floating-input" type="text" placeholder="">
            <label>First Name*</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field">
          <div class="floating-label">
            <input class="floating-input" type="text" placeholder="">
            <label>Email Address*</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field full-width">
          <div class="floating-label">
            <input class="floating-input" type="text" placeholder="">
            <label>Organisation</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field error-block">
          <div class="floating-label select-holder">
              <select class="floating-select" name="country"  value="">
                <option></option>
              </select>
            <label>Country*</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field">
          <div class="floating-label select-holder">
            <select class="floating-select" value="">
              <option></option>
              <option value="Partnerships">Partnerships</option>
              <option value="Volunteering">Volunteering</option>
              <option value="Fundraising">Fundraising</option>
              <option value="Press">Press</option>
              <option value="Other">Other</option>
            </select>
            <label>Interested in*</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field full-width error-block">
          <div class="floating-label">
            <textarea class="floating-input floating-textarea" placeholder=""></textarea>
            <label>Please tell us more so that we can put you in touch with the right team member*</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field full-width">
          reCAPTCHA
          <p>This field is required</p>
        </div>
        <div class="field full-width">
          <button class="go-btn">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="modalContact">
  <div class="modal-wrapper">
    <span class="close-button">&nbsp;</span>
    <div class="modal-header">
      <h3>Contact us</h3>
      <p>Interested in working with us or simply curious? We’d love to hear from you!</p>
    </div>
    <div class="modal-content">
      <form class="main-form" action="#">
        <div class="field  error-block">
          <div class="floating-label">
            <input class="floating-input" type="text" placeholder="">
            <label>First Name*</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field">
          <div class="floating-label">
            <input class="floating-input" type="text" placeholder="">
            <label>Email Address*</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field full-width">
          <div class="floating-label">
            <input class="floating-input" type="text" placeholder="">
            <label>Organisation</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field error-block">
          <div class="floating-label select-holder">
              <select class="floating-select" name="country"  value="">
                <option></option>
              </select>
            <label>Country*</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field">
          <div class="floating-label select-holder">
            <select class="floating-select" value="">
              <option></option>
              <option value="Partnerships">Partnerships</option>
              <option value="Volunteering">Volunteering</option>
              <option value="Fundraising">Fundraising</option>
              <option value="Press">Press</option>
              <option value="Other">Other</option>
            </select>
            <label>Interested in*</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field full-width error-block">
          <div class="floating-label">
            <textarea class="floating-input floating-textarea" placeholder=""></textarea>
            <label>Please tell us more so that we can put you in touch with the right team member*</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field full-width">
          reCAPTCHA
          <p>This field is required</p>
        </div>
        <div class="field full-width">
          <button class="go-btn">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="modalStory">
  <div class="modal-wrapper">
    <span class="close-button">&nbsp;</span>
    <div class="modal-header">
      <h3>Share your story</h3>
      <p>#IAMABLE is a celebration of heart, spirit, and strength.</p>
    </div>
    <div class="modal-content">
      <form class="main-form" action="#">
        <div class="field  error-block">
          <div class="floating-label">
            <input class="floating-input" type="text" placeholder="">
            <label>First Name*</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field">
          <div class="floating-label">
            <input class="floating-input" type="text" placeholder="">
            <label>Email Address*</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field">
          <div class="floating-label">
            <input class="floating-input" type="text" placeholder="">
            <label>Instagram profile</label>
          </div>
        </div>
        <div class="field">
          <div class="floating-label">
            <input class="floating-input" type="text" placeholder="">
            <label>Facebook profile</label>
          </div>
        </div>
        <div class="field">
          <div class="floating-label">
            <input class="floating-input" type="file" placeholder="">
            <label>Photo upload*</label>
          </div>
        </div>
        <div class="field full-width error-block">
          <div class="floating-label">
            <textarea class="floating-input floating-textarea" placeholder=""></textarea>
            <label>Type your #IAMABLE story here*</label>
          </div>
          <p>This field is required</p>
        </div>
        <div class="field full-width">
          reCAPTCHA
          <p>This field is required</p>
        </div>
        <div class="field full-width">
          <span class="send_note">By submitting your story, you give AbleFinder Pty Ltd permission to use and edit uploaded content for educational, promotional, and marketing purposes without compensation or liability. </span>
          <button class="go-btn">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>