@font-face {
  font-family: 'calibri';
  src: url('../fonts/calibri.ttf');
}
@font-face {
  font-family: 'calibri-bold';
  src: url('../fonts/calibriBold.ttf');
}
@font-face {
  font-family: 'calibri-italic';
  src: url('../fonts/calibriItalic.ttf');
}

// Khula
@font-face {
  font-family: 'khula';
  src: url('../fonts/Khula-Regular.ttf');
}
@font-face {
  font-family: 'khula-bold';
  src: url('../fonts/Khula-Bold.ttf');
}
@font-face {
  font-family: 'khula-light';
  src: url('../fonts/Khula-Light.ttf');
}

// Open Sans
@font-face {
  font-family: 'open-sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'open-sans-bold';
  src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'open-sans-italic';
  src: url('../fonts/OpenSans-Italic.ttf');
}

$font-family-sans-serif    : open-sans, sans-serif;
$font-family-italic        : open-sans-italic;
$font-family-bold          : khula-bold;
$font-family-base          : $font-family-sans-serif;
$font-size-base            : 18px;
$line-height-base          : 1.56;
$layout-breakpoint         : 1200px;
$mobile-breakpoint         : 768px;


$white                     : #fff;
$black                     : #000;
$text-color                : #737373;
$text-color-second         : #4a4a4a;
$link-color                : #19A1AC;
$link-color-hover          : #004280;
$blue-button-color         : #007fff;
$light-gray                : #e5e5e5;
$footer-nav-bg             : #f4f4f4;
$white-two                 : #f7f7f7;
$img-block-color           : #deedff;
$info-block-color          : #f4f4f4;
$clear-blue                : #2087fa;
$red                       : #d74e4e;