<section class="pre-footer">
	<div class="contact-block">
		<div class="footer_cols">
			<strong class="contact-title">Learn</strong>
			<ul>
				<li>
					<a class="arrow-link" href="/about.html" title="About Us">About Us</a>
				</li>
				<li>
					<a class="arrow-link" href="/community.html" title="Founding Community">Founding Families</a>
				</li>
				<li>
					<a class="arrow-link" href="/supporters.html" title="Founding Community">Our Supporters</a>
				</li>
			</ul>
		</div>
		<div class="footer_cols">
			<strong class="contact-title">Get involved</strong>
			<ul>
				<li>
					<a class="arrow-link" href="/iamable.html" title="#IAMBLE">#IAMBLE</a>
				</li>
				<li>
					<a class="arrow-link" href="/event.html" title="Events">Events</a>
				</li>
				<li>
					<a class="arrow-link" href="https://www.paypal.me/AbleFinderPtyLtd" title="Donate">Donate</a>
				</li>
			</ul>
		</div>
		<div class="footer_cols">
			<strong class="contact-title">Share</strong>
			<ul>
				<li>
					<a class="arrow-link" target="_blank" href="https://forms.gle/3BHSFpdeGfby7wBJ8" title="Get in touch">Get in touch</a>
				</li>
				<li>
					<a class="arrow-link" target="_blank" href="https://www.facebook.com/ablefinder/" title="Facebook">Facebook</a>
				</li>
				<li>
					<a class="arrow-link" target="_blank" href="https://www.instagram.com/ablefinder/" title="Instagram">Instagram</a>
				</li>
			</ul>
		</div>
	</div>
</section>

<footer>
	<nav class="footerNav">
		<li>
			<a href="/privacypolicy.html" title="Privacy Policy">Privacy Policy</a>
		</li>
		<li>
			<a href="/terms.html" title="Terms & Conditions">Terms &amp; Conditions </a>
		</li>
	</nav>
	<!-- <ul class="footerInfo">
		<li>
			<a href="https://www.facebook.com/ablefinder/" target="_blank" title="Facebook">
				<img class="fa" src="/images/facebook.svg" alt="Facebook | AbleFinder" />
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/ablefinder/" target="_blank" title="Instagram">
				<img class="in" src="/images/insta.svg" alt="Instagram | AbleFinder" />
			</a>
		</li>
	</ul> -->
	<p>&copy; 2020 Kindship</p>
</footer>

<!-- //= modal.html -->
<!-- //= modalFinish.html -->
<!--//= modalFinish.html-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>

<script src="/js/main.js"></script>

<!-- zz<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/owl.carousel.min.js"></script> -->


<script type="text/javascript">
	$(function () {
		$('.lazy').Lazy({
			visibleOnly: true,
			afterLoad: function (element) {
				// console.log('image loaded');
			},
			onFinishedAll: function () {
				// console.log('everything loaded');
			}
		});
	});
	$(window).bind("load", function () {
		$('#page-preloader').hide();
		$('body').removeClass('loader');
	});
</script>

