<nav id="sidebarNav">
  <ul itemscope itemtype="https://schema.org/SiteNavigationElement">
    <li itemprop="name">
      <a itemprop="url" href="/" title="Home">Home</a>
    </li>
    <li itemprop="name">
      <a itemprop="url" href="/about.html" title="About">About</a>
    </li>
    <li>
      <a href="https://www.paypal.me/AbleFinderPtyLtd" target="_blank" title="Donate">Donate</a>
    </li>
  </ul>
  <div class="app_link_wrap_content">
    <a href="https://apps.apple.com/us/app/ablefinder/id1469181215" class="app_link apple" target="_blank" title="Get the app on Apple App Store">
      <img src="/images/apple_appstore.svg" alt="Apple App Store">
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.ablefinder.app" class="app_link gplay" target="_blank" title="Get the app on Google Play">
      <img src="/images/google_play.svg" alt="Google Play">
    </a>
  </div>
</nav>

<div id="PageOverlay"></div>