/***** ---  CUSTOM STYLE START  --- ****/
* {
  @include box-sizing(border-box);
}

*:before,
*:after {
  @include box-sizing(border-box);
}

.mobileHidden {
  display: block;
  @media screen and (max-width: $layout-breakpoint) {
    display: none;
  }
}
.mobileShow {
  display: none;
  @media screen and (max-width: $layout-breakpoint) {
    display: block;
  }
  h3 {
    text-align: center;
  }
  h2 {
    margin-bottom: 30px;
    text-align: left;
  }
}

a {
  color: $link-color;
  font-weight: 400;

  &:hover {
    text-decoration: none;
    color: $link-color-hover;
  }
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
  line-height: $line-height-base;
  background-color: $white;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
  &.open {
    overflow: hidden;
  }
}
.phone {
  display: block;
  width: 322px;
  height: 650px;
  @media screen and (max-width: $layout-breakpoint) {
    width: 290px;
    height: 585px;
    margin: 0 auto;
  }
}
.wrapper {
  padding-top: 50px;
  transition: transform 0.3s;
  position: relative;

  @media screen and (max-width: $layout-breakpoint) {
    padding-top: 40px;
  }
}
.holder {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  height: 100%;
  @media screen and (max-width: $layout-breakpoint) {
    padding: 0 15px;
    flex-direction: column;
  }
}
.block {
  height: 768px;
  @media screen and (max-width: $layout-breakpoint) {
    height: auto;
    padding: 30px 0 40px;
  }
}
h2,
.h1_title {
  font-family: $font-family-bold;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.21;
  letter-spacing: 0.5px;
  text-align: left;
  color: $black;
  @media screen and (max-width: $layout-breakpoint) {
    font-size: 32px;
    line-height: 1.13;
    letter-spacing: 0.2px;
  }
}
.h2 {
  font-family: $font-family-bold;
  font-size: 22px;
  font-weight: 300 !important;
  line-height: 1.21;
  letter-spacing: 0.5px;
  text-align: left;
  color: $black;
  display: block;
  @media screen and (max-width: $layout-breakpoint) {
    font-size: 18px;
    line-height: 1.13;
    letter-spacing: 0.2px;
  }
}
h3 {
  font-family: $font-family-bold;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.33;
  text-align: left;
  color: $text-color-second;
  margin-bottom: 8px;
  @media screen and (max-width: $layout-breakpoint) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 4px;
  }
}
.blueButton {
  display: block;
  text-indent: -9999px;
  width: 167px;
  height: 54px;
  background-image: url("../images/blueButton.svg");
  background-repeat: no-repeat;
  background-size: 167px 54px;
  background-position: 0 0;
  @media screen and (max-width: $layout-breakpoint) {
    background-image: url("../images/blueButton_m.svg");
    width: 129px;
    height: 45px;
    background-size: 129px 45px;
  }
}
.textBlock {
  width: 374px;
  @media screen and (max-width: $layout-breakpoint) {
    width: 100%;
  }

  &.leftBlock {
    margin-left: 127px;
    @media screen and (max-width: $layout-breakpoint) {
      margin: 0;
    }
  }
  &.rightBlock {
    margin-left: 129px;
    @media screen and (max-width: $layout-breakpoint) {
      margin: 0;
    }
  }
}
.phoneBlock {
  width: 322px;
  @media screen and (max-width: $layout-breakpoint) {
    width: 100%;
    text-align: center;
  }
  &.leftBlock {
    margin-left: 164px;
    @media screen and (max-width: $layout-breakpoint) {
      margin: 0;
    }
  }
  &.rightBlock {
    margin-left: 211px;
    @media screen and (max-width: $layout-breakpoint) {
      margin: 0;
    }
  }
}
.infoBlock {
  margin-top: 16px;
  @media screen and (max-width: $layout-breakpoint) {
    margin-top: 40px;
  }

  .mHeader {
    color: #000;
    font-size: 32px;
    line-height: 40px;
    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 26px;
      line-height: normal;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: $text-color;
    font-family: $font-family-sans-serif;
    margin-bottom: 16px;
    @media screen and (max-width: $layout-breakpoint) {
      font-size: 16px;
      line-height: 1.63;
      margin-bottom: 11px;
    }
  }
}
.messageLink {
  font-size: 18px;
  line-height: 1.78;
  text-align: left;
  color: $blue-button-color;
  display: inline-block;
  padding: 0 0 0 42px;
  background-image: url("../images/message_us.svg");
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: 0 50%;
  @media screen and (max-width: $layout-breakpoint) {
    font-size: 16px;
    line-height: 2;
  }
}
.messageBlock {
  margin-top: 40px;
  @media screen and (max-width: $layout-breakpoint) {
    margin-top: 30px;
  }

  p {
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: $text-color;
    font-family: $font-family-italic;
    margin-bottom: 16px;
    @media screen and (max-width: $layout-breakpoint) {
      font-size: 16px;
      line-height: 1.63;
    }
  }
  span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: $text-color;
    font-family: $font-family-sans-serif;
    img {
      margin-right: 16px;
      @media screen and (max-width: $layout-breakpoint) {
        margin-right: 12px;
      }
    }
    @media screen and (max-width: $layout-breakpoint) {
      font-size: 16px;
      line-height: 1.63;
    }
  }
}
.promoBlock {
  background-image: url("../images/updated_images/landing_img.jpg");
  @include image-2x(
    "../images/updated_images/landing_img@x2.jpg",
    cover,
    cover
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  height: 600px;
  @media screen and (max-width: $layout-breakpoint) {
    // height: auto;
    padding: 80px 0 35px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    height: auto;
  }

  @media screen and (max-width: 400px) {
    background-image: url("../images/updated_images/landing_img@320.jpg");
  }

  @media screen and (min-width: 1500px) {
    height: 750px;
  }

  @media screen and (min-width: 2000px) {
    height: 850px;
  }

  @media screen and (min-width: 2500px) {
    height: 1100px;
  }

  p {
    font-size: 22px;
    line-height: 1.56;
    text-align: left;
    color: #000 !important;
    margin: 16px 0 36px;
    @media screen and (max-width: $layout-breakpoint) {
      font-size: 16px;
      margin: 8px 0 24px;
    }
  }
}
.promoBlock {
  .holder {
    @media screen and (max-width: $layout-breakpoint) {
      align-items: flex-start;
    }
  }
  .hero-block {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 20px;
    @media (min-width: 640px) {
      padding: 35px;
    }
  }
  .textBlock.leftBlock {
    margin: 0px;
    width: 620px;
    @media screen and (max-width: $layout-breakpoint) {
      margin: 0px;
      width: 420px;
      max-width: 100%;
    }
  }

  .app_link_wrap_content {
    display: flex;
    justify-content: flex-start;
  }
}

.getBlock {
  background-image: url("../images/last_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 600px;
  padding: 0 20px;
  text-align: center;
  @media screen and (max-width: $mobile-breakpoint) {
    background-image: url("../images/last_img@mobile.jpg");
    background-position: 50% 50%;
    height: 350px;
  }

  @media screen and (min-width: 1360px) {
    height: 600px;
    background-position: 0% 10%;
  }

  @media screen and (min-width: 1600px) {
    background-position: 0% 15%;
    height: 700px;
  }

  @media screen and (min-width: 1900px) {
    background-position: 0% 15%;
    height: 900px;
  }

  @media screen and (max-width: 375px) {
    background-position: center;
    background-size: 200%;
    height: 600px;
  }

  .getTitle {
    font-family: $font-family-bold;
    font-size: 48px;
    font-weight: normal;
    line-height: 1.13;
    letter-spacing: 0.5px;
    color: $black;
    padding: 100px 0 0px;
    @media screen and (max-width: $layout-breakpoint) {
      font-size: 32px;
      line-height: 1.13;
      letter-spacing: 0.2px;
      padding: 24px 0 5px;
    }

    @media screen and (max-width: 375px) {
      padding-top: 80px;
    }
  }
  span {
    color: $black;
    display: block;
    font-size: 22px;
    line-height: 1.56;
    margin-bottom: 10px;
    @media screen and (max-width: $layout-breakpoint) {
      font-size: 16px;
      line-height: 1.63;
    }
  }
  .link {
    color: $white;
    display: inline-block;
    margin: 40px auto 0;
    &:hover {
      text-decoration: underline;
    }
    @media screen and (max-width: $layout-breakpoint) {
      margin: 24px auto 0;
    }
  }
}

.phoneVideoHolder {
  width: 290px;
  height: 500px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  img {
    position: absolute;
    width: 290px;
    // height: 585px;
    max-width: 100%;
    height: auto;
    z-index: 1;
    top: 0px;
    left: 0px;
  }
  video {
    position: absolute;
    z-index: 0;
    top: 19px;
    left: 19px;
  }
}
.arrow-link {
  font-size: 18px;
  letter-spacing: 0.2px;
  font-family: $font-family-bold;
  display: inline-block;
  padding: 0 17px 0 0;
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    content: " ";
    width: 6px;
    height: 100%;
    background-image: url("../images/link_arrow_ico.svg");
    background-size: 6px 12px;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  &:hover {
    &:before {
      background-image: url("../images/link_arrow_ico_hover.svg");
    }
  }
}

.text_center {
  text-align: center;
}
.row_holder {
  @extend .holder;
  max-width: 945px;
  padding: 30px 20px 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid $light-gray;
  &.center {
    justify-content: center;
  }
  &.no_border {
    border-bottom: none;
  }
  .inner_wrap {
    max-width: 750px;
    margin: 0 auto;
  }
}

// Txt with img section
.flex_cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &.center {
    align-items: center;
  }
  &.top {
    align-items: flex-start;
  }
  .col {
    width: 100%;
    flex-basis: 100%;
  }
  .first {
    order: -1;
  }
  @media screen and (max-width: $mobile-breakpoint) {
    .img_col {
      display: block;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: $mobile-breakpoint) {
    .first {
      order: unset;
    }
    .col_4 {
      max-width: 33.333%;
      flex-basis: 33.333%;
    }
    .col_6 {
      max-width: 50%;
      flex-basis: 50%;
    }
  }
  img {
    height: auto;
    max-width: 100%;
  }
}
.round_img {
  font-size: 0;
  overflow: hidden;
  border-radius: 16px;
  display: inline-block;
}
.btn_blue {
  width: 100%;
  color: $white;
  max-width: 165px;
  font-size: 17px;
  padding: 6px 20px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  background-color: $link-color;
  transition: background 0.3s ease-in-out;
  @media screen and (max-width: $mobile-breakpoint) {
    max-width: 100%;
  }
  &:hover,
  &:focus {
    color: $white;
    background-color: $link-color-hover;
  }
}

// Work with us
.highlight_txt {
  font-size: 24px;
  color: $link-color;
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 18px;
    line-height: 1.22em;
  }
}

.work-with-us-page {
  .mission-promo {
    padding: 0 20px;
    line-height: 1.222em;
    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 18px;
      height: 200px;
    }
    .promo_txt {
      max-width: 875px;
      margin: 0 auto;
    }
  }
}

// Pricing page
.pricing-page {
  .row_holder {
    max-width: 768px;
    .inner_wrap {
      max-width: 630px;
      .col_6 {
        margin-bottom: 53px;
        @media screen and (min-width: $mobile-breakpoint) {
          max-width: 45%;
          flex-basis: 45%;
          padding: 0 10px;
          &:nth-child(even) {
            margin-right: 5%;
          }
        }
      }
    }
  }
  .mission-promo {
    padding: 0 20px;
    background-image: none;
    @media screen and (max-width: $mobile-breakpoint) {
      height: 200px;
    }
    h1 {
      font-size: 48px;
      @media screen and (max-width: $mobile-breakpoint) {
        font-size: 30px;
      }
    }
    .promo_txt {
      font-size: 24px;
      max-width: 465px;
      margin: 0 auto 10px;
      @media screen and (max-width: $mobile-breakpoint) {
        font-size: 18px;
      }
    }
  }
  .how_it_works {
    padding: 41px 0 5px;
    margin-bottom: 10px;
    .inner_wrap {
      width: 100%;
    }
    .hw_box {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      max-width: 490px;
      margin: 0 auto 43px;
      align-items: center;
      @media screen and (max-width: $mobile-breakpoint) {
        text-align: center;
      }
      .icon {
        margin-right: 83px;
        @media screen and (max-width: $mobile-breakpoint) {
          max-width: 100%;
          margin-right: 0;
          flex-basis: 100%;
        }
      }
      .txt_box {
        max-width: 300px;
        flex-basis: 300px;
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1.5em;
        @media screen and (max-width: $mobile-breakpoint) {
          max-width: 100%;
          flex-basis: 100%;
        }
        h2 {
          font-size: 24px;
          margin-bottom: 11px;
          @media screen and (max-width: $mobile-breakpoint) {
            text-align: center;
            font-size: 20px;
          }
        }
      }
    }
  }
  .donations {
    .box_title {
      display: block;
      font-size: 36px;
      color: $link-color;
      margin-bottom: 20px;
      line-height: 1.22em;
      font-family: $font-family-bold;
      @media screen and (max-width: $mobile-breakpoint) {
        font-size: 20px;
      }
    }
  }
}

.app_link_wrap_content {
  a {
    font-size: 0;
    margin: 0 2px;
    line-height: 0;
    display: inline-block;
    img {
      max-width: 100%;
    }
  }
}

#learn {
  h2 {
    position: relative;
    span {
      font-size: 14px;
      position: absolute;
      background-color: rgb(69, 136, 236);
      color: #fff;
      padding: 5px 10px;
      border-radius: 200px;
    }
    @media screen and (max-width: 500px) {
      span {
        font-size: 12px;
      }
    }
  }
}

.theMessage {
  .user {
    :nth-child(1) {
      color: #000 !important;
      font-weight: 600;
      margin-top: 25px;
    }
  }

  .user1 {
    :nth-child(1) {
      margin-top: 55px;
    }
  }
}

.getBlock {
  a {
    width: 152px;
    height: 40px;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.terms_page {
  h1,
  h3 {
    color: #fff;
    font-weight: bold;
  }

  // h3{
  //   font-size: 32px;
  // }

  .mission-promod {
    margin: 100px 0px;
  }
  .inner_wrap {
    width: 100vw;
    p {
      margin-bottom: 10px;
    }

    .dates {
      :nth-child(1) {
        margin-bottom: 0px !important;
      }
    }

    @media screen and (max-width: $layout-breakpoint) {
      p {
        width: 90%;
      }
    }
  }
  span {
    margin-right: 20px;
  }
  .flex {
    p {
      display: flex;
    }
  }

  .abc {
    margin-left: 30px;
  }

  @media screen and (max-width: 380px) {
    h1 {
      font-size: 16px;
    }
    h3 {
      font-size: 14px;
    }
  }
}
