.navbar {
  width: 100%;
  padding: 20px 30px;

  img {
    width: 140px;
    height: auto;
  }

  a {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
  }

  .ks-links {
    a {
      cursor: pointer;
      margin-right: 50px;
    }
  }

  .gplay {
    img {
      height: 46px;
      width: auto;
    }
  }

  @media screen and (max-width: $layout-breakpoint) {
    .btns {
      display: none !important;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    padding: 20px;
  }
}
