.story-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: $white-two;
  .story-text{
    height:auto;
  }
  .sharethis-inline-share-buttons{
    margin-bottom:14px;
    text-align: left!important;
  }
  .back_btn{
    color:#0084ff;
    border: solid 1px #0084ff;
    background-color: transparent;
    margin-left: 5px;
    transition: border .3s, color .3s ease-in-out;
    &:hover, &:focus {
      color:$link-color-hover;
      border-color:$link-color-hover;
    }
  }
  .story-img{
    overflow:hidden;
    position: relative;
    img{
      width:100%;
      height:100%;
      object-fit:contain;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  >div{
    width: 50%;
    // height: 718px;
    @media screen and (max-width: $layout-breakpoint) {
      // height: 728px;
    }
    @media screen and (max-width: $mobile-breakpoint) {
      height: auto;
      width: 100%;
      &.story-img{
        @media screen and (max-width: $mobile-breakpoint) {
          height: 290px;
          width: 100%;
          background-position: top center;
        }
      }
    }
  }
  @media screen and (max-width: $mobile-breakpoint) {
    display: block;
  }
}
.back-link{
  font-size: 18px;
  letter-spacing: 0.2px;
  font-family: $font-family-bold;
  display: inline-block;
  padding: 0 0 0 17px;
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: " ";
    width:6px;
    height:100%;
    background-image: url('../images/link_arrow_ico.svg');
    background-size: 6px 12px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    transform: rotate(-180deg);
    transition: all .3s;
  }
  &:hover{
    &:before{
      left: -5px;
    }
  }
}

.story-text{
  padding: 40px 60px 50px 30px;
  @media screen and (max-width: $mobile-breakpoint) {
    padding: 15px 15px 30px;
  }
  span{
    font-size: 18px;
    color: $text-color;
    display: block;
    @media screen and (min-width: $mobile-breakpoint) and (max-width: $layout-breakpoint) {
      font-size: 16px;
    }
  }
  i{
    font-style: normal;
    font-size: 18px;
    color: $black;
    display: block;
    margin-bottom: 40px;
    @media screen and (min-width: $mobile-breakpoint) and (max-width: $layout-breakpoint) {
      font-size: 16px;
    }
  }
  p{
    font-size: 18px;
    line-height: 1.56;
    color: $text-color;
    margin-bottom: 25px;
    @media screen and (max-width: $mobile-breakpoint) and (max-width: $layout-breakpoint) {
      font-size: 16px;
      line-height: 1.63;
    }
  }
  .round-blue-btn{
    position: relative;
    left: 0;
    bottom:auto;
    padding: 6px 30px;
    @media screen and (max-width: 420px) {
      display: block;
      margin: 0 0 10px;
      transform: none;
      text-align: center;
    }
  }
}
.story-page-title{
  text-align: left;
}